*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/css/image/logo.jpeg);
    background-image: url(/image/logo.jpeg);
    background-size: cover;
    margin-left: 1%;
}
nav{
    display: flex;
    height: 60px;
    background-color: rgb(228, 228, 228);
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
    margin-right: 1%;
}
.nav-list>a{
   color: sienna;
   text-decoration: none;
}
.nav-list>a:hover{
   background-color: sienna;
   color: beige;
   transition: all 0.6s;
}
 .nav-item{
    padding: 8px;
 }
/* Judul Banner */
 #hero{
   height: 450px;
   width: 100%;
    background-image: url(/css/image/begron1.jpg);
    background-position: center;
    background-size: 1380px;
    background-repeat: no-repeat;
    margin-top: -5px;
 }
 .tag-judul{
   text-align: center;
   margin-right: 50%;
   margin-top: 10%;
 }
 .ctl-product{
   background-color: rgba(255, 255, 255, 0);
   border-color: rgb(61, 73, 83);
   border-radius: 20px;
   padding: 8px;
   margin-top: 20px;
   cursor: pointer;
 }
 .ctl-product:hover{
   background-color: rgba(159, 161, 161, 0.596);
   border-color: rgb(255, 224, 176);
   color: beige;
   transition: all 0.4s;
 }
/* Prolog */
 .prolog{
   height: 450px;
   display: flex;
   background-image: url(/css/image/bg3.jpg);
   background-position: top;
   align-items: center;
   justify-content: space-around;
 }
 .img-prolog{
   width: 300px;
   height: 300px;
   border-radius: 10px;
   background-image: url(/css/image/bunga1.jpg);
   background-size: cover;
 }
 .tag-prolog{
   width: 450px;
 }
.tag-prolog>p{
   font-size: 1.5rem;
}
/* Services */
header{
   text-align: center;
   padding-top: 10px;
   font-size: 2rem;
}
#services{
   height: 650px;
   background-image: url(/css/image/bg3.jpg);
   background-position: center;
}
.services-list{
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
}
.menu-srv{
   width: 200px;
   height: 200px;
}
.img-srv img{
   background-size: cover;
   border-radius: 10px;
}
 
 /* Message */
 #message{
   height: 450px;
   background-image: url(/css/image/bg3.jpg);
   background-position: left;
 }
 .colom-form{
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
 }
#name,
#email,
#date-born{
   width: 300px;
   
}
#pesan{
   resize: none;
   width: 300px;
   height: 150px;
}
#result-form{
   resize: none;
   width: 460px;
   height: 250px;
}

#submit{
   width: 100%;
}

footer{
   background-color: rgb(228, 228, 228);
   text-align: center;
}
